// our theme
$dark-blue: rgba(1, 34, 38, 1);
$blue1: rgba(22, 87, 99, 1);
$blue2: rgba(21, 82, 99, 01);
$light-grey: rgba(166, 161, 151, 1);
$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);
$gold: rgba(255, 203, 48, 1);

.blue1-background {
    background-color: $blue1;
}

.white-background {
    background-color: $white;
}